{% extends 'base.html' %}

{% block title %}
Edit Feedback
{% endblock %}

{% block content %}
<h1 class="display-1">Edit Feedback</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="mb-3">
        {{ field.label(class="form-label") }}
        {{ field(class="form-control") }}

        {% for error in field.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}

    <button class="btn btn-primary" type="submit">Update Feedback</button>
</form>
{% endblock %}