{% extends 'base.html' %}
{% block title %} Register {% endblock %}

{% block content %}
<h1 class="display-1 mb-3">Sign Up</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.type != 'CSRFTokenField' %}
    <div class="form-group ">
        {{ field.label }}

        {{ field(class_="form-control w-50 mb-2") }}
        {% if field.errors %}
        <div class="text-danger">
            {% for error in field.errors %}
            <small>{{ error }}</small><br>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    <button class="btn btn-success" type="submit">Register</button>
</form>
{% endblock %}